body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  .container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px 20px 60px ;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-size: large;
  }
  h1 {
    color: navy;
  }
  p {
    color: #333;
  }
  nav {
    padding-left: 2%;
  }
